body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.social-links {
    max-width: 800px;
    margin: 0 auto;
    list-style: none;
}
.social-links > li {
    width: 30%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin: auto;
}
div[contenteditable] {
    border: 1px solid dodgerblue;
}

.overflow-hidden {
    overflow: hidden;
}

.margin-top10 {
    margin-top: 10px;
}