<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">AWS Cognito Demo</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#register">Register</a></li>
                <li><a href="#authenticate">Authenticate</a></li>
                <li><a href="#regOAuth2">OAuth 2</a></li>
                <li><a href="#testRequest">Test</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<div class="container">
    <div id="register">
        <div class="row">
            <div class="col-md-4">
                <h3>Register</h3>
                <form th:action="@{/register}" th:method="POST"
                      th:content="'application/x-www-form-urlencoded'">
                    <div class="form-group">
                        <label for="username" class="control-label">Username</label>
                        <input id="username" name="username" type="text" class="form-control"
                               placeholder="Type your username…"/>
                    </div>
                    <div class="form-group">
                        <label for="email" class="control-label">Email</label>
                        <input id="email" name="email" type="email" class="form-control"
                               placeholder="Type your email…"/>
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Password</label>
                        <input id="password" name="password" type="password" class="form-control"
                               placeholder="Type your password…"/>
                    </div>
                    <div class="button-group pull-right">
                        <button class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <h3>Confirm Registration</h3>
                <form th:action="@{/confirmRegistration}"
                      th:method="POST"
                      th:content="'application/x-www-form-urlencoded'"
                >
                    <div class="form-group">
                        <label for="usernameConfirm" class="control-label">Username</label>
                        <input id="usernameConfirm" name="username" type="text" class="form-control"
                               placeholder="Type your username…"/>
                    </div>
                    <div class="form-group">
                        <label for="confirmationCode" class="control-label">Confirmation Code</label>
                        <input id="confirmationCode" name="confirmation_code" type="text" class="form-control"
                               placeholder="Type confirmation code…"/>
                    </div>
                    <div class="button-group overflow-hidden">
                        <button class="btn btn-primary pull-right">Confirm Registration</button>
                    </div>
                </form>
                <h3>Resend Confirmation Code</h3>
                <form th:action="@{/resendCode}"
                      th:method="POST"
                      class="margin-top10"
                      th:content="'application/x-www-form-urlencoded'">
                    <div class="form-group">
                        <label for="usernameConfirm" class="control-label">Username</label>
                        <input id="usernameResendConfirm" name="username" type="text" class="form-control"
                               placeholder="Type your username…"/>
                    </div>
                    <div class="button-group pull-right">
                        <button class="btn btn-primary">Resend Confirmation Code</button>
                    </div>
                </form>
            </div>
            <div th:hidden="${type ne 'reg'}" class="col-md-4">
                <div th:if="${register_STATE_STATUS}">
                    <div th:text="${register_STATE_MESSAGE}"></div>
                </div>
                <div th:if="!${register_STATE_STATUS}">
                    <div th:text="${register_STATE_MESSAGE}"></div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div id="authenticate">
        <div class="row">
            <div class="col-md-4">
                <h3>Authenticate</h3>
                <form th:action="@{/authenticate}" th:method="POST"
                      th:content="'application/x-www-form-urlencoded'">
                    <div class="form-group">
                        <label for="usernameAuth" class="control-label">Username</label>
                        <input id="usernameAuth" name="username" type="text" class="form-control"
                               placeholder="Type your username…"/>
                    </div>
                    <div class="form-group">
                        <label for="passwordAuth" class="control-label">Password</label>
                        <input id="passwordAuth" name="password" type="password" class="form-control"
                               placeholder="Type your password…"/>
                    </div>
                    <div class="button-group pull-right">
                        <button class="btn btn-primary">Authenticate</button>
                    </div>
                </form>
            </div>
            <div th:hidden="${type ne 'auth'}" class="col-md-4">
                <div th:if="${register_STATE_STATUS}">
                    <div th:text="${register_STATE_MESSAGE}"></div>
                </div>
                <div th:if="!${register_STATE_STATUS}">
                    <div th:text="${register_STATE_MESSAGE}"></div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div id="regOAuth2">
        <div class="row">
            <div class="col-md-4">
                <h3>Register via OAuth2</h3>
                <div>
                    <a th:href="${registerRedirect}">Register via Facebook</a>
                </div>
                <h3>Login via OAuth2</h3>
                <div>
                    <a th:href="${loginRedirect}">Login via Facebook</a>
                </div>
            </div>
            <div th:hidden="${type ne 'fb_reg'}" class="col-md-4">
                <div th:if="${register_STATE_STATUS}">
                    <div th:text="${register_STATE_MESSAGE}"></div>
                </div>
                <div th:if="!${register_STATE_STATUS}">
                    <div th:text="${register_STATE_MESSAGE}"></div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div id="testRequest">
        <div class="row">
            <div class="col-md-4">
                <h3>Echo test</h3>
                <form th:action="@{/echo}" th:method="POST"
                      th:content="'application/x-www-form-urlencoded'">
                    <div class="form-group">
                        <label for="echo" class="control-label">Echo text</label>
                        <input id="echo" name="echo" type="text" class="form-control" placeholder="Text to be echoed"/>
                    </div>
                    <div class="form-group">
                        <label for="idToken" class="control-label">User IdToken</label>
                        <input id="idToken" name="id_token" type="text" class="form-control"
                               placeholder="User id token"/>
                    </div>
                    <div class="button-group pull-right">
                        <button class="btn btn-primary">Echo</button>
                    </div>
                </form>
            </div>
            <div th:hidden="${type ne 'echo'}" class="col-md-4">
                <div th:if="${register_STATE_STATUS}">
                    <div th:text="${register_STATE_MESSAGE}"></div>
                </div>
                <div th:if="!${register_STATE_STATUS}">
                    <div th:text="${register_STATE_MESSAGE}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js"
        th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.js}"></script>

</body>
</html>